In [2]:
2+2

4

In [3]:
50-5*6

20

In [4]:
(50-5*6)/4

5.0

In [6]:
8/5 # division always returns a floating point number

1.6

In [8]:
5*3+2 # floored quotient * divisor + remainder

17

In [13]:
17//3 # floor division discards the fractional part

5

In [16]:
17%3 # the % operator returns the remainder of the division

2

In [21]:
17/3 # classic division returns a float

5.666666666666667

In [22]:
5**2 # 5 squared

25

In [23]:
2**7 # 2 to the power of 7

128

In [24]:
width = 20
height = 5*9
width * height

900

In [25]:
n # try to access an undefined variable

NameError: name 'n' is not defined

In [26]:
4 * 3.75 - 1

14.0

In [27]:
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

In [28]:
price + _

113.0625

In [29]:
round(_, 2)

113.06

In [30]:
'spam eggs' # single quotes

'spam eggs'

In [31]:
'doesn\'t' # use \' to escape the single quote...

"doesn't"

In [32]:
"doesn't" # ... or use the double quotes instead

"doesn't"

In [33]:
'"Yes," they said.'

'"Yes," they said.'

In [34]:
"\"Yes,\" they said."

'"Yes," they said.'

In [35]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [36]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [37]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [38]:
s = 'First line. \nSecond line.' # \n means newline
s # without print(), \n is included in the output

'First line. \nSecond line.'

In [39]:
print(s)

First line.
Second line.

In [40]:
print('C:\some\name') # here \n means newline!

C:\some
ame

In [41]:
print(r'C:\some\name') # note the r before the quote

C:\some\name

In [44]:
print("""
Usage: thingy [OPTIONS]
    - h                 Display this usage message
    - H hostname        Hostname to connect to
    """)

Usage: thingy [OPTIONS]
    - h                 Display this usage message
    - H hostname        Hostname to connect to

In [45]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [46]:
'Py' 'thon'

'Python'

In [48]:
text = ('Put several strings within parentheses '
        'to have them joined together')
text

'Put several strings within parentheses to have them joined together'

In [51]:
prefix = 'Py'
prefix + 'thon' # can't concatenate a variable and a string literal

'Python'

In [52]:
word = 'Bird'
word[0] # character in position 0

'B'

In [60]:
word[3] # character in position 3

'd'

In [56]:
word[-1] # Last character

'd'

In [57]:
word[-2] # second-to-last character

'r'

In [58]:
word[-4]

'B'

In [61]:
word[0:2] # characters from position 0 (included) to 2 (excluded)

'Bi'

In [62]:
word[2:3] # characters from position 2 (included) to 3 (excluded)

'r'

In [63]:
word[:2] # character from the beginning to position 2 (excluded)

'Bi'

In [64]:
word[2:] # characters from position 2 (included) to the end

'rd'

In [65]:
word[-2:] # characters from the second-to-last (included) to the end

'rd'

In [66]:
word[:2] + word[2:]

'Bird'

In [67]:
word[:3] + word[3:]

'Bird'

In [70]:
word[2:42]

'rd'

In [71]:
word[42:]

''

In [72]:
'J' + word[1:]

'Jird'

In [73]:
word[:2] + 'py'

'Bipy'

In [74]:
s = 'supercalifragilisticexpialidocious'
len(s)

34

In [75]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [76]:
squares[0]

1

In [77]:
squares[-1]

25

In [78]:
squares[-3:] # slicing returns a new list

[9, 16, 25]

In [79]:
squares[:]

[1, 4, 9, 16, 25]

In [80]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [82]:
cubes = [1, 8, 27, 65, 125] # something's wrong here

In [83]:
cubes[3] = 64 # replace the wrong value
cubes

[1, 8, 27, 64, 125]

In [84]:
cubes.append(216) # add the cube of 6
cubes.append(7**3) # add the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343]

In [85]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [87]:
# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [88]:
# now remove them
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [89]:
# clear the list by replacing all of the elements with an empty list
letters[:] = []
letters

[]

In [90]:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [91]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [92]:
x[0]

['a', 'b', 'c']

In [93]:
x[0][1]

'b'

First Steps Towards Programming

In [97]:
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1
while a < 10:
    print(a, end=',')
    a, b = b, a + b

0,1,1,2,3,5,8,

In [96]:
i = 256*256
print('The value of i is', i)

The value of i is 65536

4. More Control Flow Tools

    4.1 if Statements

In [107]:
x = int(42)
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('single')
else:
    print('More')

More

In [1]:
# Measure some strings:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

Section 4.3 The range() Function
https://docs.python.org/3.9/tutorial/controlflow.html